Package: me.devbug.quicklock46
Name: quicklock46
Depends: mobilesubstrate, firmware (>= 6.0), firmware (<< 7.1)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Just touch to lock your device!
 This package supports only iOS 6.
Maintainer: deVbug <devbug@devbug.me>
Author: deVbug <devbug@devbug.me>
Section: Utilities
